body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #010D26;
    color: #ffffff;
}

.main {
    position: absolute;
    top: 8%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
}
.main h1 {
    text-align: center;
    color: #F22E76;
}
.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
}
.main h2 {
    text-align: center;
    color: #118EBF;
}
.main p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

.cpsc3750 h1 {
    text-align: center;
    color: #ffffff;
    background-color: #F22E76;
    padding: 20px;
    border-radius: 5px;
}

.cpsc3750 h2 {
    text-align: center;
    color: #FFB00B;
}

.cpsc3750 p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.cpsc3750 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #023373;
    overflow: hidden;
}

.cpsc3750 li {
    float: left;
}

.cpsc3750 a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cpsc3750 a:hover {
    background-color: #F22E76;
}

.cpsc3750 .active {
    background-color: #F22E76;
}

.pdf {
    width: 100%;
    aspect-ratio: 4/3;
    height: 100%;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.content .socials, .content .photo {
    flex: 1;
}
.content .socials {
    text-align: center;
}
.socials a {
    color: #118EBF;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}
.socials a:hover {
    color: #F22E76;
}
.photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}
.stats img {
    display: block;
    margin: 20px auto;
}
.languages-tools .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logos a {
    margin: 10px;
}
.logos img {
    width: 60px;
    height: 60px;
}
/* Video Container */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.video-container iframe {
    max-width: 100%;
    max-width: 800px;
    height: 400px;
}

/* Image Row */
.image-nav-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin: 20px 0;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000000; 
}

.image-item a {
    display: block;
    margin-top: 40px; /* Space between image and button */
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
}

.image-item a:hover {
    background-color: #003366; 
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-item {
    width: 65%; /* Adjust the width as needed */
    height: auto;
}

/* Favorites Section */
.favorites-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.favorite-item {
    width: 50%; 
    margin-bottom: 20px;
}

.favorite-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000000;
}

.favorite-item h3 {
    text-align: center;
    margin: 10px 0;
}

.favorite-item p {
    text-align: center;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar nav ul li {
        float: left;
    }
    .main {
        margin-left: 0;
    }
    .content {
        flex-direction: column;
    }
    .content .socials, .content .photo {
        flex: none;
        margin-bottom: 20px;
    }
    .photo img {
        max-width: 100%;
    }
}