/*
    Name: Kevin Blinn
    Class: CPSC 3750
    Date Due: July 20th, 2024
    Assignment: Programming Exam #2
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #010D26;
    color: #ffffff;
}

header {
    padding-bottom: 8%;
}

p {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
    color: #FFB00B;
    background-color: #010D26;
    padding: 20px;
    border-radius: 5px;
}

.description ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #F22E76;
    background-color: #010D26;
    padding: 20px;
    border-radius: 5px;
}

#buttonsContainer {
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #118EBF;
    border-radius: 5px;
    background-color: #F22E76;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #118EBF;
}

.scrollable-list {
    max-height: 200px;
    overflow-y: scroll;
    border: 2px solid #118EBF;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    background-color: #023373;
    border-radius: 5px;
    list-style-type: none;
}

.scrollable-list .word {
    margin: 5px 0;
    padding: 5px;
    background-color: #010D26;
    border: 1px solid #118EBF;
    border-radius: 5px;
    text-align: center;
    cursor: move;
}

.drop-area {
    border: 2px dashed #118EBF;
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    background-color: #023373;
    border-radius: 5px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.drop-area div {
    padding: 5px;
    margin: 5px;
    border: 1px solid #118EBF;
    background-color: #010D26;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
}

.word.dragElem {
    opacity: 0.4;
}

.word.over {
    border-top: 2px solid blue;
}

#wordCount, #wordCountList {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    color: #118EBF;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}