/*
    Name: Kevin Blinn
    Class: CPSC 3750
    Date Due: June 29th, 2024
    Assignment: Prog11 - jQuery
*/

/* Header styles */
header {
    padding-bottom: 8%;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-size: 1em;
    margin-top: 0;
    text-align: center;
}

button {
    background-color: #023373;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}