/*
    Name: Kevin Blinn
    Class: CPSC 3750
    Date Due: June 8th, 2024
    Assignment: Prog07 - JavaScript Sort
*/

.main {
    position: absolute;
    top: 8%;
    width: 100%;
    z-index: -1;
}