/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #18191B; /* Dark primary background */
    color: #F5F3F4; /* White Smoke text */
}

h2 {
    color: #FD0000; /* Red for section headers */
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase; /* Makes the header text uppercase */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a subtle text shadow */
}

p {
    font-size: 1.3em;
    line-height: 1.8;
    color: #F5F3F4; /* White text */
    margin-bottom: 25px;
    font-weight: 300; /* Makes the text lighter */
    text-align: justify; /* Justifies the text */
}

/* Sidebar Styles */
.sidebar {
    width: 280px; /* Increased width for better readability */
    background-color: #0E0E0E; /* Black sidebar */
    color: #F5F3F4; /* White text */
    height: 100vh;
    position: fixed;
    overflow-y: auto; /* Smooth scrolling instead of default scrollbar */
    padding-top: 20px; /* Add padding to give space above content */
    scrollbar-width: thin; /* Make scrollbar thinner */
    scrollbar-color: #FD0000 #0E0E0E; /* Style scrollbar to match theme */
}

.sidebar h2, .sidebar h3 {
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #444;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Adds a subtle text shadow */
}

.sidebar h2 {
    font-size: 1.8em; /* Slightly larger for emphasis */
    font-weight: bold;
    margin-bottom: 0.2em;
}

.sidebar h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #FD0000; /* Red color to connect with the theme */
    margin-top: 0.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar img {
    display: block;
    margin: 10px auto 20px auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 3px solid #FD0000; /* Red border around the image */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow to the image */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    text-align: center;
}

.sidebar ul li a {
    color: #F5F3F4;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 10px 0;
}

.sidebar ul li a:hover {
    background-color: #FD0000; /* Red on hover */
}

/* Custom Scrollbar */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: #0E0E0E; /* Background of the scrollbar track */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #FD0000; /* Scrollbar color */
    border-radius: 10px; /* Rounded scrollbar */
}

/* Content Area */
.content {
    margin-left: 280px; /* Adjusted margin to match new sidebar width */
    padding: 30px;
    flex: 1;
    background-color: #272527; /* Light gray secondary background */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
}

section {
    margin-bottom: 40px;
    background-color: #333; /* Slightly darker background for sections */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7); /* Adds a shadow to sections */
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

section img {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 1500px;
    height: auto;
    border: 3px solid #FD0000; /* Red border for images */
    border-radius: 10px; /* Rounds the corners of the images */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7); /* Adds a shadow to images */
}

/* Welcome Section Styling */
#welcome {
    background-color: #272527;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#welcome h2 {
    color: #FD0000;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#welcome h3 {
    color: #F5F3F4;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}

#welcome p {
    font-size: 1.3em;
    color: #F5F3F4;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

#welcome ul {
    font-size: 1.2em;
    line-height: 1.8;
    color: #F5F3F4;
    list-style-type: none;
    padding-left: 30px;
    margin-left: 20px; /* Tab over list items */
}

#welcome ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.welcome ul li::before {
    content: "\f1c6"; /* Font Awesome icon for bullet */
    font-family: FontAwesome;
    margin-right: 10px;
    color: #FD0000;
    font-size: 1.3em;
}

.highlight {
    color: #FD0000;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}

#welcome ul li em {
    font-style: italic;
    color: #FD0000;
}

.ready-to-join {
    margin-top: 40px; /* Increase space above this statement */
    text-align: center;
}



#welcome img {
    width: 80%;
    max-width: 1200px;
    height: auto;
    border: 3px solid #FD0000; /* Slightly thicker border */
    margin-top: 30px;
    border-radius: 10px; /* Rounds the corners of the image */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7); /* Adds a shadow to the image */
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 3px 3px 3px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* About Me Section Styling */
#about-me {
    padding: 30px;
    background-color: #272527;
    color: #F5F3F4;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

#about-me h2 {
    color: #FD0000;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-photo img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #FD0000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
}

.about-text {
    flex: 1;
    margin-left: 30px;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #F5F3F4;
}


/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sidebar becomes full-width */
        height: auto; /* Adjust height */
        position: relative; /* No longer fixed */
        padding-top: 10px;
    }

    .sidebar h2, .sidebar h3, .sidebar ul li {
        text-align: left;
        padding-left: 20px;
    }

    .sidebar img {
        margin: 10px auto 20px 20px;
    }

    .content {
        margin-left: 0; /* No margin since sidebar is not fixed */
        padding: 20px;
    }

    /* Collapse sidebar menu */
    .sidebar ul {
        display: none;
    }

    .sidebar ul.open {
        display: block;
    }

    .sidebar h2 {
        cursor: pointer;
        padding: 15px 20px;
    }

    .sidebar h2:after {
        content: '▼';
        float: right;
        margin-right: 20px;
        transition: transform 0.3s;
    }

    .sidebar h2.open:after {
        transform: rotate(-180deg);
    }
}

/* Mobile Menu Toggle Script */
.sidebar h2 {
    cursor: pointer;
}

.sidebar h2.open + ul {
    display: block;
}

.sidebar h2.open:after {
    transform: rotate(180deg);
}
